module.exports = {
	"hostname": "localhost",
	"port": 80,
	"debug": true,
	"plugs": ["memcached", "wms", "file", "tirex", "tiles"],
	"mapconfigpath": "./maps/enabled_maps",
	"max_age": 3 * 60 * 60 * 1000,
	"wms": {
		"concurrent_requests": 10
	},
	"tirex": {
		"config_dir": "./data/tirex/renderer/",
		"master_socket": "/run/tirex/master.sock",
		"timeout": 1000
	},
	"file": {
		 "path": "./data/xyz.ext/"
	},
	"tiles": {
		"concurrent_requests": 10
	},
	"memcached": {
		"hosts": "localhost:11211",
		"rev": "0",
		"prefix": "tiles_",
		"expiration": 1000000,
		"options": {
			"timeout": 10,
			"maxExpiration": 2592000
		}
	},
};