module.exports = {
	"hostname": "localhost",
	"port": 80,
	"domain": "localhost",
	"max_age": 3 * 60 * 60 * 1000,
	"configpath": "./maps/maps-enabled",
	"preview": './maps/preview',
	"log": {
    	"path": "./logs",
    	"levels": ["info", "warn", "error", "tiles", "debug", "statsd"]
    },
	"plugs": {
		"mapnik": {
			"enabled": false,
			"fontpath": "./data/fonts"
		},
		"wms": {
			"enabled": false,
			"concurrent_requests": 10
		},
		"tirex": {
			"enabled": false,
			"config_dir": "/etc/tirex/renderer/",
			"master_socket": "/var/run/tirex/master.sock",
			"timeout": 10000
		},
		"file": {
			"enabled": false,
			"path": "./data/xyz.ext/"
		},
		"tiles": {
			"enabled": false,
			"concurrent_requests": 10
		},
		"memcached": {
			"enabled": false,
			"hosts": "localhost:11211",
			"rev": "0",
			"prefix": "tiles_",
			"expiration": 1000000,
			"options": {
				"timeout": 10,
				"maxExpiration": 2592000
			}
		}
	}
};