html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
    padding: 0;
    margin: 0;
}

#head {
    height: 20px;
    width: 100%;
    background-color: #fffc9b;
    position: fixed;
    z-index: 20;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
	width: 100%;
	height: 100%;
}

html a {
	color: #333333;
}

body {
	text-align: center;
	font-family: Century Gothic, sans-serif;
}

.preview {
	margin-right: 10px;
	display: inline-block;
	border: 1px solid #eee;
}

.leaflet-container {
	background: #fff;
}

.leaflet-control-selectionbounds {
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 5px #bbb;
	padding: 0 2px;
	margin: 0;
	color: #333;
	font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.info {
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 5px #bbb;
	padding: 0 5px;
	margin: 0 !important;
	color: #333;
	font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

div.leaflet-marker-icon.location-filter.resize-marker {
    background: url(../images/resize-handle.png) no-repeat;
    cursor: move;
}
div.leaflet-marker-icon.location-filter.move-marker {
    background: url(../images/move-handle.png) no-repeat;
    cursor: move;
}

div.location-filter.button-container {
    padding: 3px;
    margin-left: 13px !important;
    background-color: #f4f4f4;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    border: 1px solid #888;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.leaflet-container div.location-filter.button-container a {
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    padding: 2px;
}
.leaflet-container div.location-filter.button-container a:hover {
}

.leaflet-container div.location-filter.button-container a.enable-button {
}

.leaflet-container div.location-filter.button-container a.adjust-button {
    margin-left: 2px;
    display: none;
}

.leaflet-container .leaflet-control-mouseposition {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px #bbb;
    padding: 0 5px;
    margin:0;
    color: #333;
    font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-control-layers {
    width: 200px;
    height: 100%;
    max-height: 400px;
    padding: 10px !important;
    overflow-y: scroll;
}

.leaflet-control-layers-separator {
    float: left;
    width: 100%;
}

.leaflet-control-layers .leaflet-control-layers-title {
    font-size: 1.2em;
}

.leaflet-control-layers .leaflet-row {
    float: left;
    width: 100%;
}

.leaflet-control-layers .leaflet-row .leaflet-input {
    float: left;
    width: 15%;
}

.leaflet-control-layers h3 {
    margin-top: 0;
    margin-bottom: 6px;
}

.leaflet-control-layers .leaflet-row .leaflet-name {
    float: left;
    width: 60%;
}

.leaflet-control-layers .leaflet-row .leaflet-up {
    float: left;
    background-image: url(../images/arrow-up.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
}

.leaflet-control-layers .leaflet-row .leaflet-down {
    float: left;
    background-image: url(../images/arrow-down.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
}