body {
	margin: 4px;
}

section.sidebar {
	width: 150px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: 4px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
}

.sidebar li {
	list-style: none;
	border: solid #d4d3d3 1px;
	cursor: pointer;
	margin: 2px;
}

.sidebar li.active {
	background-color: #e6e6e6;
}

section.main {
	margin-left: 150px;
}

.topbar b {
	margin-right: 4px;
}

.topbar input {
	margin-right: 4px;
}

#infobar {
	background-color: #ffffcc;
}

#content {
	padding: 8px;
	border: solid #d4d3d3 1px;
}

#grid {
	width: 100%;
	height: 260px;
	border: 1px solid black;
}

#map {
	width: 100%;
	height: 100%;
}
